.input-container {
    width: 600px;
    padding: 15px;
    margin-top: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

input {
    width: 400px;
    font-size: 2rem;
    border: none;
    padding-left: 5px;
}


button {
    width: 130px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px;
    background-color: gold;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
    